.container{
  width: 100%;
  height: calc(100vh - 90px);
  padding: 10px 0;

  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: auto min(500px, 50vw) auto;
  grid-template-areas:
    ". input ."
    ". notes .";
  gap: 10px;

}

.inputFlexItem{
  grid-area: input;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;

  background-color: #20262e;
  box-shadow: 0 0px 5px;
  border-radius: 3px;
}
.inputFlexItem > input {
  margin: 10px !important;
  flex: 1 1 300px;
  background-color: inherit;
  color: whitesmoke;
  font-size: 16px;

  border: 0;
  border-bottom: 2px solid gray;
}
.inputFlexItem > input:focus {
  outline: none;
}
.inputFlexItem > button {
  flex: 0 0 30px;
  margin: 10px !important;
  padding-top: -1px;
  padding-left: 8px;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  background-color:  teal;
  color: whitesmoke;
  font-weight: 800;
  border: 0;
  box-shadow: 0 0 7px #333;
  outline: none;
  transition: box-shadow 0.3s;
}
.inputFlexItem > button:disabled {
  background-color:  lightgray;
  color: gray;
}
.inputFlexItem > button:hover {
  box-shadow: 0 0 10px #333;
  transition: box-shadow 0.3s;
}
.inputFlexItem > button:focus {
  box-shadow: 0 0 2px #333;
}

.notesList{
  background-color: #20262e;
  box-shadow: 0 0px 5px;
  padding: 5px;

  grid-area: notes;
  border-radius: 3px;
}
