<div class="container">
  <div class="inputFlexItem">
    <input
      name="description"
      id="desc"
      placeholder="Insert new note"
      [(ngModel)]="newTaskDescription"
      (keyup.enter)="addNewTask()"
    />
    <button class="" (click)="addNewTask()" [disabled]="!validInput">+</button>
  </div>

  <div class="notesList">
    <div cdkDropList (cdkDropListDropped)="updateListOrder($event)">
      <div *ngFor="let item of tasklist">
        <app-todo-item [id]="item.id" [task]="item"></app-todo-item>
      </div>
    </div>
    <button class="btn-clear" (click)="clearList()">clear completed</button>
  </div>
</div>
<!-- <pre style="color: white; background-color: gray;"  ><code >{{todoList | json}}</code></pre> -->
